{% extends "layout.html" %}
{% load static %}
{% block csslink %}
<link rel="stylesheet" href="{% static "css/employee1.css" %}">
{% endblock %}
   
    <title>Employee</title>
   
</head>
{% block pagebody %}
    <div class="employee_container">
        <div class="employee_container_control">
            <div class="employee_details">
                <!--To provide the image of employee please provide the style of below div background image-->
                <div class="emp_img"></div>
                <h1 style="color: aliceblue;">{{e.Name}}</h1>
                <div class="emp_detail_container">
                    <table>
                       
                        <td><a href="/emp_details" type="button" style="color:white">No. of Employees</a></td>
                        <td>{{x}}</td></a>
                        </tr>
                        <tr>
                        <td><a href="/branch_details" type="button" style="color:white">No. of Branches</a></td>
                        <td>{{y}}</td>
                        </tr>
                        <tr>
                        <td><a href="/dept_details" type="button" style="color:white">No. of Departments</a></td>
                        <td>{{z}}</td>
                        </tr>
                        <tr>
                        <td><a href="/cities_details" type="button" style="color:white">No. of Cities Served</a></td>
                        <td>{{c}}</td>
                        </tr>
                       
                    </table>
                </div>
            </div>

            <div class="parcel_details">
               
              
                <form method="post">
                    {% csrf_token %}
                    <div class="order_card">
                        
                        <table>
                            <tr>
                                <td>City Name</td>
                                <td><input type="text" name="city" id="id_name" required></td>
                            </tr>
                        <tr>
                            <td>Latitude</td>
                            <td><input type="text" name="latitude" id="id_name" required>
                            </td>
                        </tr>
                       
                        <tr>
                            <td>Longitude</td>
                            <td><input type="text" name="longitude" id="id_name" required></td>
                        </tr>
                    
                      
                    </table>
                    <div style="color:white;">{{mssg}}</div>
                    <button type="submit" class="btn btn-outline-light">Submit</button>
                </div>
                </form>
                <a href="admin_made">Back</button>
                {% comment %} <div class="btn-group mr-2" role="group" aria-label="First group">
                    <a href="/edit_orders" type="button" class="btn btn-outline-light">Add Employees</a>
                    <a href="/edit_orders" type="button" class="btn btn-outline-light">Add Branches</a>
                    <a href="/edit_orders" type="button" class="btn btn-outline-light">Add Departments</a>
                    <a href="/edit_orders" type="button" class="btn btn-outline-light">Add Cities</a>
                
                  </div> {% endcomment %}
              
            </div>
        </div>
    </div>
{%endblock%}

