{% extends "layout.html" %}
{% load static %}
{% block csslink %}
<link rel="stylesheet" href="{% static "css/employee.css" %}">
{% endblock %}
   
    <title>Employee</title>
   
</head>
{% block pagebody %}
    <div class="employee_container">
        <div class="employee_container_control">
            <div class="employee_details">
                <!--To provide the image of employee please provide the style of below div background image-->
                <div class="emp_img"></div>
                <h1 style="color: aliceblue;">{{e.Name}}</h1> 
                <div class="emp_detail_container">
                    <table>/
                        <tr>
                        <td>Name </td>
                        <td>{{e.Name}}</td>
                        </tr>
                        <tr>
                        <td>No. of Employees</td>
                        <td>{{x}}</td>
                        </tr>
                        <tr>
                        <td>No. of Branches</td>
                        <td>{{y}}</td>
                        </tr>
                        <tr>
                        <td>No. of Departments</td>
                        <td>{{z}}</td>
                        </tr>
                        <tr>
                        <td>No. of Cities Served</td>
                        <td>{{c}}</td>
                        </tr>
                        <tr>
                            <td>No. of Orders</td>
                            <td>{{o}}</td>
                            </tr>
                    </table>
                </div>
            </div>

            <div class="parcel_details">
                <h3 style="color: aliceblue;">Details of next parcels to be delivered</h3>
              
               
                <div class="btn-group mr-2" role="group" aria-label="First group">
                    <a href="/add_employee" type="button" class="btn btn-outline-light">Add Employees</a>
                    <a href="/add_branch" type="button" class="btn btn-outline-light">Add Branches</a>
                    <a href="/add_department" type="button" class="btn btn-outline-light">Add Departments</a>
                    <a href="/add_city" type="button" class="btn btn-outline-light">Add Cities</a>
                
                  </div>
              
            </div>
        </div>
    </div>
{%endblock%}

