{% extends "layout.html" %}
{% load static %}
{% block csslink %}
<link rel="stylesheet" href="{% static "css/employee.css" %}">
{% endblock %}
   
    <title>Employee</title>
   
</head>
{% block pagebody %}
    <div class="employee_container">
        <div class="employee_container_control">
            <div class="employee_details">
                <!--To provide the image of employee please provide the style of below div background image-->
                <div class="emp_img"></div>
                <h1 style="color: aliceblue;">{{e.Name}}</h1>
                <div class="emp_detail_container">
                    <table>
                       
                        
                        <td><a href="/emp_details" type="button" style="color:white">No. of Employees</a></td>
                        <td>{{x}}</td></a>
                        </tr>
                        <tr>
                        <td><a href="/branch_details" type="button" style="color:white">No. of Branches</a></td>
                        <td>{{y}}</td>
                        </tr>
                        <tr>
                        <td><a href="/dept_details" type="button" style="color:white">No. of Departments</a></td>
                        <td>{{z}}</td>
                        </tr>
                        <tr>
                        <td><a href="/cities_details" type="button" style="color:white">No. of Cities Served</a></td>
                        <td>{{c}}</td>
                        </tr>
                       
                    </table>
                </div>
            </div>

            <div class="parcel_details">
               
                   {%for i in branches%}
               
                    <div class="order_card">
                        
                        <table>
                            <tr>
                                <td>Branch Id</td>
                                <td>{{i.Branch_Id}}</td>
                            </tr>
                        <tr>
                            <td>Name</td>
                            <td>{{i.Branch_Name}}
                            </td>
                        </tr>
                        <tr>
                            <td>Contact</td>
                            <td>{{i.Contact_Number}}</td>
                        </tr>
                        <tr>
                            <td>Email</td>
                            
                            <td>{{i.Email}}</td>
                        </tr>
                        <tr>
                            <td>House No</td>
                            <td>{{i.House_No}}</td>
                        </tr>
                    <tr>
                        <td>Street</td>
                        <td>{{i.Street}}
                        </td>
                    </tr>
                    <tr>
                        <td>City</td>
                        <td>{{i.City}}</td>
                    </tr>
                    <tr>
                        <td>State</td>
                        <td>{{i.State}}</td>
                    </tr>
                    <tr>
                        <td>Pincode</td>
                        <td>{{i.Pin_Code}}</td>
                    </tr>
                   
                    </table>
                    
                   
                </div>
                
               {%endfor%}  
              
            </div>
        </div>
    </div>
{%endblock%}

