{% extends "layout.html" %}
{% load static %}
{% block csslink %}
<link rel="stylesheet" href="{% static "css/employee1.css" %}">
{% endblock %}
   
    <title>Employee</title>
   
</head>
{% block pagebody %}
    <div class="employee_container">
        <div class="employee_container_control">
            <div class="employee_details">
                <!--To provide the image of employee please provide the style of below div background image-->
                <div class="emp_img"></div>
                <h1 style="color: aliceblue;">{{e.Name}}</h1>
                <div class="emp_detail_container">
                    <table>
                       
                        
                        <td><a href="/emp_details" type="button" style="color:white">No. of Employees</a></td>
                        <td>{{x}}</td></a>
                        </tr>
                        <tr>
                        <td><a href="/branch_details" type="button" style="color:white">No. of Branches</a></td>
                        <td>{{y}}</td>
                        </tr>
                        <tr>
                        <td><a href="/dept_details" type="button" style="color:white">No. of Departments</a></td>
                        <td>{{z}}</td>
                        </tr>
                        <tr>
                        <td><a href="/cities_details" type="button" style="color:white">No. of Cities Served</a></td>
                        <td>{{c}}</td>
                        </tr>
                        <tr>
                            <td>No. of Total Orders</td>
                            <td>{{t}}</td>
                            </tr>
                            <tr>
                            <td><a href="/not_deliv" type="button" style="color:white">No. of Orders pending</a></td>
                            <td>{{n}}</td>
                            </tr>
                            <tr>
                            <td><a href="/deliv" type="button" style="color:white">No. of Orders Delivered</a></td>
                            <td>{{d}}</td>
                            </tr>
                    </table>
                </div>
            </div>

            <div class="parcel_details">
              
                   {%for i in del%}
               
                    <div class="order_card">
                        
                        <table>
                            <tr>
                                <td>Order Id</td>
                                <td>{{i.Order_Id}}</td>
                            </tr>
                        <tr>
                            <td>Name</td>
                            <td>{{i.Order_Name}}
                            </td>
                        </tr>
                        <tr>
                            <td>Parcel weight</td>
                            <td>{{i.Parcel_Weight}}</td>
                        </tr>
                        <tr>
                            <td>Booked date</td>
                            
                            <td>{{i.booked_date}}</td>
                        </tr>
                        <tr>
                            <td>Shipped date</td>
                            
                            <td>{{i.shipped_date}}</td>
                        </tr>
                        <tr>
                            <td>Delivered date</td>
                            
                            <td>{{i.delivered_date}}</td>
                        </tr>
                        <tr>
                            <td>Reciever Name</td>
                            <td>{{i.Receiver_Name}}</td>
                        </tr>
                        <tr>
                            <td>Receiver Contact number</td>
                            <td>{{i.Receiver_Contact_Number}}</td>
                        </tr>
                        <tr>
                            <td>To House No</td>
                            <td>{{i.To_House_No}}</td>
                        </tr>
                    <tr>
                        <td>To Street</td>
                        <td>{{i.To_Street}}
                        </td>
                    </tr>
                    <tr>
                        <td>To City</td>
                        <td>{{i.To_City}}</td>
                    </tr>
                    <tr>
                        <td>To State</td>
                        <td>{{i.To_State}}</td>
                    </tr>
                    <tr>
                        <td>To Pincode</td>
                        <td>{{i.To_Pin_Code}}</td>
                    </tr>
                        <tr>
                            <td>From House No</td>
                            <td>{{i.From_House_No}}</td>
                        </tr>
                    <tr>
                        <td>From Street</td>
                        <td>{{i.From_Street}}
                        </td>
                    </tr>
                    <tr>
                        <td>From City</td>
                        <td>{{i.From_City}}</td>
                    </tr>
                    <tr>
                        <td>From State</td>
                        <td>{{i.From_State}}</td>
                    </tr>
                    <tr>
                        <td>From Pincode</td>
                        <td>{{i.From_Pin_Code}}</td>
                    </tr>
                    <tr>
                        <td>Order type</td>
                        <td>{{i.Order_Type}}</td>
                    </tr>
                    <tr>
                        <td>Order Location</td>
                        <td>{{i.Order_location.name}}</td>
                    </tr>
                    <tr>
                        <td>Delivery Charge</td>
                        <td>{{i.delivery_charge}}</td>
                    </tr>
                    <tr>
                        <td>User</td>
                        <td>{{i.User_Id.UserId}}</td>
                    </tr>
                    <tr>
                        <td>Sender Employee</td>
                        <td>{{i.Sender_Employee_Id.Employee_Id}}</td>
                    </tr>
                    <tr>
                        <td>Receiver Employee</td>
                        <td>{{i.Receiver_Name_Employee_Id.Employee_Id}}</td>
                    </tr>
                   
                    </table>
                    
                   
                </div>
                
               {%endfor%}  
              
            </div>
        </div>
    </div>
{%endblock%}

