{% extends "layout.html" %}
{% load static %}
{% block csslink %}
<link rel="stylesheet" href="{% static "css/employee1.css" %}">
{% endblock %}
   
    <title>Employee</title>
   
</head>
{% block pagebody %}
    <div class="employee_container">
        <div class="employee_container_control">
            <div class="employee_details">
                <!--To provide the image of employee please provide the style of below div background image-->
                <div class="emp_img"></div>
                <h1 style="color: aliceblue;">{{e.Name}}</h1>
                <div class="emp_detail_container">
                    <table>
                        <tr>
                        <td>Name </td>
                        <td>{{e.Name}}</td>
                        </tr>
                        <tr>
                        <td>No. of Parcels delivered</td>
                        <td>0</td>
                        </tr>
                        <tr>
                        <td>No. of Parcels pending to be delivered</td>
                        <td>{{y}}</td>
                        </tr>
                        <tr>
                        <td>Rating</td>
                        <td>4</td>
                        </tr>
                        <tr>
                        <td>Average Working Hours</td>
                        <td>8</td>
                        </tr>
                        <tr>
                        {% comment %} <td>Attendance</td> {% endcomment %}
                        {% comment %} <td>a</td> {% endcomment %}
                        </tr>
                    </table>
                </div>
            </div>

            <div class="parcel_details">
                <h3 style="color: aliceblue;">Details of next parcels to be delivered</h3>
              
                {%if orders%}
                <div class="btn-group mr-2" role="group" aria-label="First group">

    
                    <a href="/staff" type="button" class="btn btn-outline-light">Back</a>
                    
                </div>
                {%for i in orders%}
                <form method="post">
                    {% csrf_token %}
                    <div class="order_card">
                        
                        <table>
                            <tr>
                                <td>Order Id</td>
                                <td>{{i.Order_Id}}</td>
                            </tr>
                        <tr>
                            <td>Address</td>
                            <td>{{i.To_House_No}},{{i.To_Street}},{{i.To_City}},{{i.To_State}},{{i.To_Pin_Code}}</td>
                        </tr>
                        <tr>
                            <td>Receiver's Name</td>
                            <td>{{i.Receiver_Name}}</td>
                        </tr>
                        <tr>
                            <td>Contact</td>
                            <td>+91 {{i.Receiver_Contact_Number}}</td>
                        </tr>
                        <tr>
                            <td>Order Status</td>
                            
                            <input type="hidden" name="OrderId" value="{{ i.Order_Id }}">
                            <td> <input type="text" name="status" id="email" value="{{ i.Order_Status }}"></td>
                        </tr>
                        <tr>
                            <td>Current Location</td>
                            <td> <input type="text" name="location" id="email" value="{{i.Order_location.name}}"></td>
                            
                            
                        </tr>
                        
                    </table>
                    
                    <button type="submit" class="btn btn-outline-light">Submit</button>
                </div>
            </form>
            {%endfor%}

                {%else%}
                <div><p style="color: #fff;">You Have No orders To be Delivered.</p></div>
                {%endif%}
            </div>
        </div>
    </div>
{%endblock%}

