{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Employee</title>
    <link rel="stylesheet" href="{% static 'css/employee.css' %}">
</head>
<body>
    <div class="employee_container">
        <div class="employee_container_control">
            <div class="employee_details">
                <div style="height: 100px; width: 100px; border-radius: 50%; background-color: aqua;"></div>
                <h1>Employee name</h1>
                <div class="emp_detail_container">
                    <table>
                        <tr>
                        <td>Name </td>
                        <td>xxxxxxxxxx</td>
                        </tr>
                        <tr>
                        <td>No. of Parcels delivered</td>
                        <td>y</td>
                        </tr>
                        <tr>
                        <td>No. of Parcels pending to be delivered</td>
                        <td>z</td>
                        </tr>
                        <tr>
                        <td>Rating</td>
                        <td>aa</td>
                        </tr>
                        <tr>
                        <td>Average Working Hours</td>
                        <td>h</td>
                        </tr>
                        <tr>
                        <td>Attendance</td>
                        <td>a</td>
                        </tr>
                    </table>
                </div>
            </div>

            <div class="parcel_details">
                <h3>Details of next parcels to be delivered</h3>
                <div class="order_card">
                    <table>
                        <tr>
                            <td>Order Id</td>
                            <td>1234</td>
                        </tr>
                        <tr>
                            <td>Address</td>
                            <td>Colony 786, house no: 420</td>
                        </tr>
                        <tr>
                            <td>Receiver's Name</td>
                            <td>Ram</td>
                        </tr>
                        <tr>
                            <td>Contact</td>
                            <td>+91 9999999999</td>
                        </tr>
                    </table>
                </div>
                <div class="order_card">
                    <table>
                        <tr>
                            <td>Order Id</td>
                            <td>1234</td>
                        </tr>
                        <tr>
                            <td>Address</td>
                            <td>Colony 786, house no: 420</td>
                        </tr>
                        <tr>
                            <td>Receiver's Name</td>
                            <td>Ram</td>
                        </tr>
                        <tr>
                            <td>Contact</td>
                            <td>+91 9999999999</td>
                        </tr>
                    </table>
                </div>
                <div class="order_card">
                    <table>
                        <tr>
                            <td>Order Id</td>
                            <td>1234</td>
                        </tr>
                        <tr>
                            <td>Address</td>
                            <td>Colony 786, house no: 420</td>
                        </tr>
                        <tr>
                            <td>Receiver's Name</td>
                            <td>Ram</td>
                        </tr>
                        <tr>
                            <td>Contact</td>
                            <td>+91 9999999999</td>
                        </tr>
                    </table>
                </div>
                <div class="order_card">
                    <table>
                        <tr>
                            <td>Order Id</td>
                            <td>1234</td>
                        </tr>
                        <tr>
                            <td>Address</td>
                            <td>Colony 786, house no: 420</td>
                        </tr>
                        <tr>
                            <td>Receiver's Name</td>
                            <td>Ram</td>
                        </tr>
                        <tr>
                            <td>Contact</td>
                            <td>+91 9999999999</td>
                        </tr>
                    </table>
                </div>
                <div class="order_card">
                    <table>
                        <tr>
                            <td>Order Id</td>
                            <td>1234</td>
                        </tr>
                        <tr>
                            <td>Address</td>
                            <td>Colony 786, house no: 420</td>
                        </tr>
                        <tr>
                            <td>Receiver's Name</td>
                            <td>Ram</td>
                        </tr>
                        <tr>
                            <td>Contact</td>
                            <td>+91 9999999999</td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>
</body>
</html>