{% extends "layout.html" %}
{% block loadstatic %} {% load static %} {% endblock %}
{% block csslink %}
<link rel="stylesheet" href="{% static 'css/estimate.css' %}">
{% endblock %}
{% block pagebody %}
<div class="estimate_main_container">
            
  <form>
      <div class="address_container">
          <div class="to_estimate_box">
              <h3>To Address</h3>        
              <label for="state"></label>
              <select id="state" name="state">
                  <option value="state">State</option>
                  <option value="telangana">Telangana</option>
                  <option value="tamilnadu">Tamil Nadu</option>
                  <option value="karnataka">Karnataka</option>
                  <option value="maharashtra">Maharashtra</option>
                  <option value="delhi">Delhi</option>
                  <option value="madhyapradesh">Madhya Pradesh</option>
                  <option value="westbengal">West Bengal</option>
              </select>
              <label for="city"></label>
              <select id="city" name="city">
                  <option value="city">City</option>
                  <option value="hyderabad">Hyderabad</option>
                  <option value="chennai">Chennai</option>
                  <option value="bengaluru">Bengaluru</option>
                  <option value="mumbai">Mumbai</option>
                  <option value="delhi">Delhi</option>
                  <option value="indore">Indore</option>
                  <option value="kolkata">Kolkata</option>
              </select>
          </div>

          <div class="from_estimate_box">
              <h3>From Address</h3>        
              <label for="state"></label>
              <select id="state" name="state">
                  <option value="state">State</option>
                  <option value="telangana">Telangana</option>
                  <option value="tamilnadu">Tamil Nadu</option>
                  <option value="karnataka">Karnataka</option>
                  <option value="maharashtra">Maharashtra</option>
                  <option value="delhi">Delhi</option>
                  <option value="madhyapradesh">Madhya Pradesh</option>
                  <option value="westbengal">West Bengal</option>
              </select>

              <label for="city"></label>
              <select id="city" name="city">
                  <option value="city">City</option>
                  <option value="hyderabad">Hyderabad</option>
                  <option value="chennai">Chennai</option>
                  <option value="bengaluru">Bengaluru</option>
                  <option value="mumbai">Mumbai</option>
                  <option value="delhi">Delhi</option>
                  <option value="indore">Indore</option>
                  <option value="kolkata">Kolkata</option>
              </select>
          </div>
      </div>
      <div class="box_2">
          <div class="parcel_detail_box">
              <h3>Parcel Details</h3>  
              <label for="height"></label>
              <input type="number" id="height" name="height" placeholder="Height of parcel (in cm)">

              <label for="length"></label>
              <input type="number" id="length" name="length" placeholder="Length of parcel (in cm)">

              <label for="width"></label>
              <input type="number" id="width" name="width" placeholder="Width of parcel (in cm)">
              
              <label for="state"></label>
              <select id="state" name="state">
                  <option value="state">State</option>
                  <option value="telangana">Telangana</option>
                  <option value="tamilnadu">Tamil Nadu</option>
                  <option value="karnataka">Karnataka</option>
                  <option value="maharashtra">Maharashtra</option>
                  <option value="delhi">Delhi</option>
                  <option value="madhyapradesh">Madhya Pradesh</option>
                  <option value="westbengal">West Bengal</option>
              </select>

              <label for="city"></label>
              <select id="city" name="city">
                  <option value="city">City</option>
                  <option value="hyderabad">Hyderabad</option>
                  <option value="chennai">Chennai</option>
                  <option value="bengaluru">Bengaluru</option>
                  <option value="mumbai">Mumbai</option>
                  <option value="delhi">Delhi</option>
                  <option value="indore">Indore</option>
                  <option value="kolkata">Kolkata</option>
              </select>
          </div>
      
          <input type="submit" value="Estimate Price" id="sub_button" >
      </div>
  </form>
  
  <div class="declaration_box"><p>The estimate price of your parcel delivery is 00.00 Rs.
      Your parcel takes 3 - 5 days for the delivery.</p></div>
  <p style="background-color: aliceblue;">(*)This is just an estimate price. The actual price details may differ slightly and will be informed through mail.</p>
</div>
{% endblock %}