<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Place Order</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
  </head>
  <style>
    body{
        background-color: rgb(236, 234, 234);
        /* background-image: url(https://img.freepik.com/premium-vector/warehouse-worker-loading-boxes-truck-courier-delivery-guy-carrying-cardboard-container-packages-parcels-truck-warehouse-worker_327176-201.jpg); */
        background-size: 100% 40%;
        background-repeat: no-repeat;
      }
      nav{
        background: linear-gradient(to right, rgb(51, 89, 197),rgb(18, 31, 115),rgb(51, 89, 197));
        
      }
      .navbar-brand{
          color: white ;
          font-size: 35px;
          
      }
      .navbar-na{
        text-align: center;
        /* border-width: 40%; */
        padding: 2%;
        border-radius: 2%;
        
      }

      .btn{
        background-color: rgb(222, 222, 28);
        /* margin-right: 3%; */
      }
      
      .btn:hover {
        background-color: rgb(195, 195, 45);
        color: rgb(16, 43, 220); /* Change text color on hover for better visibility */
      }

  </style>
  <body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary fixed-top" >
        <div class="container-fluid" >
          <h1 class="navbar-brand" ><span style=" color: rgb(251, 251, 7); font-size: 50px">E</span> delivery</h1>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse"  id="navbarNavAltMarkup" style="text-align: center; margin-left: 25%;">
            <div class="navbar-na">
              <a type="button" class="btn ">Home</a>
              <a type="button" class="btn ">About</a>
              <a type="button" class="btn ">Contact</a>
              <a type="button" class="btn ">Help</a>
            </div>
          </div>
        </div>
    </nav>
    <div class="container"  style="margin-top: 10%;">
      <form>
        <div class="border border-2 shadow rounded rounded-5 border-black p-3 m-4" >
          <h3>Parcel Details</h3><br><br>

          <div class="mb-3">
            <select class="form-select" aria-label="Default select example">
              <option selected>Weight of the parcel</option>
              <option value="1">Below 5kg</option>
              <option value="2">5kg to 10kg</option>
              <option value="3">10kg to 20 kg</option>
              <option value="4">20kg to 30 kg</option>
              <option value="5">Above 30kg</option>
            </select>
            
          </div>
          <div class="mb-3">
            <select class="form-select" aria-label="Default select example">
              <option selected>Parcel delivery mode</option>
              <option value="1">Normal delivery</option>
              <option value="2">Fast delivery</option>
              <option value="3">Super fast delivery</option>
              <option value="4">Instant delivery</option>
            </select>
          </div>
        </div>
        <div class="border border-2 shadow rounded rounded-5 border-black p-3 m-4" >
          <h3>To Address</h3><br><br>

          <div class="form-floating mb-3">
            <input type="text" class="form-control" id="floatingInput" placeholder="name@example.com">
            <label for="floatingInput">House/Room/Door No.</label>
          </div>
            
          
          <div class="form-floating mb-3">
            <input type="text" class="form-control" id="floatingInput" placeholder="name@example.com">
            <label for="floatingInput">Street</label>
          </div>
          <div class="mb-3">
            <select class="form-select" aria-label="Default select example">
              <option selected>City</option>
              <option value="1">Hyderabad</option>
              <option value="2">Chennai</option>
              <option value="3">Benguluru</option>
              <option value="4">Mumbai</option>
              <option value="5">Delhi</option>
              <option value="6">Indore</option>
              <option value="7">Kolkata</option>
            </select>
          </div>
          <div class="mb-3">
            <select class="form-select" aria-label="Default select example">
              <option selected>State</option>
              <option value="1">Telangana</option>
              <option value="2">Tamilnadu</option>
              <option value="3">Karnataka</option>
              <option value="4">Maharashtra</option>
              <option value="5">Delhi</option>
              <option value="6">Madhya Pradesh</option>
              <option value="7">West Bengal</option>
            </select>
          </div>
        </div>
        <div class="border border-2 shadow rounded rounded-5 border-black p-3 m-4" >
          <h3>From Address</h3><br><br>

          <div class="form-floating mb-3">
            <input type="text" class="form-control" id="floatingInput" placeholder="name@example.com">
            <label for="floatingInput">House/Room/Door No.</label>
          </div>
            
          
          <div class="form-floating mb-3">
            <input type="text" class="form-control" id="floatingInput" placeholder="name@example.com">
            <label for="floatingInput">Street</label>
          </div>
          <div class="mb-3">
            <select class="form-select" aria-label="Default select example">
              <option selected>City</option>
              <option value="1">Hyderabad</option>
              <option value="2">Chennai</option>
              <option value="3">Benguluru</option>
              <option value="4">Mumbai</option>
              <option value="5">Delhi</option>
              <option value="6">Indore</option>
              <option value="7">Kolkata</option>
            </select>
          </div>
          <div class="mb-3">
            <select class="form-select" aria-label="Default select example">
              <option selected>State</option>
              <option value="1">Telangana</option>
              <option value="2">Tamilnadu</option>
              <option value="3">Karnataka</option>
              <option value="4">Maharashtra</option>
              <option value="5">Delhi</option>
              <option value="6">Madhya Pradesh</option>
              <option value="7">West Bengal</option>
            </select>
          </div>
        </div>

        <button type="submit" class="btn btn-primary m-4" style="background-color: green;">Submit</button>
      </form>
    </div>
    <footer class="text-center py-4">
      <hr style="border-top: 1px solid #ccc; margin: 20px 0;">
      <p>&copy; 2023 E delivery Services. All rights reserved.</p>
  </footer>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
  </body>
</html>