{% extends "layout.html" %}
{% block inpagestyle %}

{% comment %} <style> {% endcomment %}
    body{
        background-color: #0a0027;
    }
    nav{
      background: linear-gradient(to right, rgb(51, 89, 197),rgb(18, 31, 115),rgb(51, 89, 197));
      
    }
    .navbar-brand{
        color: white ;
        font-size: 35px;
        
    }
    .navbar-na{
      text-align: center;
      /* border-width: 40%; */
      padding: 2%;
      border-radius: 2%;
      
    }

    .navbar-na a{
      background-color: rgb(222, 222, 28);
      /* margin-right: 3%; */
    }
    
    .btn:hover {
      background-color: rgb(195, 195, 45);
      color: rgb(16, 43, 220); 
    }
    {% endblock %}
    {% block pagebody %}
<div style="background-color: #0a0027; margin-top: 7%;">
    <div class="container user_profile_container">
        <div class="row">
            <div class="column col-md-4 col-sm-12 overflow-auto" style="background-color: #161e58">
              {% load static %}
                <img class="rounded-circle mb-3" src="{% static "media/user_profile_images/user-profile-icon-free-vector.jpg" %}" alt="Generic placeholder image" width="140" height="140">
                
                <h3 style="color: aliceblue;">Your Orders</h3>
                <p style="color: aliceblue;">(Last 5 orders appear here)</p>
                <hr style="color: aliceblue;"/>
                <div style="height: 50vh;" class="overflow-auto">
                  {%if orders %}
                     {%for i in orders%}
                         
                    <div class="pt-2">
                        <h5 style="color: aliceblue;">Order Id</h5>
                        <p style="color: aliceblue;">{{i.Order_Id}}</p>
                        <h6 style="color: aliceblue;">Delivery Status</h6>
                        <p style="color: aliceblue;">{{i.Order_Status}}</p>
                        <hr style="color: aliceblue;"/>
                    </div>
                    {%endfor%}
                  {%else%}
                  <h5 style="color: aliceblue;">You haven't place a parcel yet.</h5>
                  {%endif%}
                  </div>
                <div class="pb-2">
                    <a href="/my_orders" class="btn btn-primary">Go to my orders</a>
                </div>
            </div>
            <div class="column col-md-8 col-sm-12" style="background-color: #0d1340;">
                <h2 style="display: inline-block; color: aliceblue;">{{Name}}</h2><span class="ps-2"  style="color: aliceblue;">{{city}},India</span>
                <h4 class="pt-2 pb-2"  style="color: aliceblue;">User ID: {{userid}}</h4>
                <div class="btn-toolbar pt-2" role="toolbar" aria-label="Toolbar with button groups">
                    <div class="btn-group mr-2" role="group" aria-label="First group">
                      <a href="/user_profile" type="button" class="btn btn-outline-light">Personal Information</a>

                      {% comment %} <button type="button" class="btn btn-outline-light">Account Information</button> {% endcomment %}
                      <a href="/edit" type="button" class="btn btn-outline-light">Edit</a>

                    </div>
                </div>
                <table class="table table-striped pt-2 pb-2 mt-5 pt-2">
                    <thead>
                      <tr>
                        <th scope="col">Feild</th>
                        <th scope="col">Data</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <th scope="row">Name </th>
                        <td>{{name}}</td>
                      </tr>
                      <tr>
                        <th scope="row">Mobile Number</th>
                        <td>+91 {{number}}</td>
                      </tr>
                      <tr>
                        <th scope="row">E-mail</th>
                        <td>{{mail}}</td>
                      </tr>
                      <tr>
                        <th scope="row">House.No</th>
                        <td>{{h_no}}</td>
                      </tr>
                      <tr>
                        <th scope="row">Street</th>
                        <td>{{street}}</td>
                      </tr>
                      <tr>
                        <th scope="row">City</th>
                        <td>{{city}}</td>
                      </tr>
                      <tr>
                        <th scope="row">State</th>
                        <td>{{state}}</td>
                      </tr>
                      <tr>
                        <th scope="row">PIN Code</th>
                        <td>{{pin}}</td>
                      </tr>
                      
                    </tbody>
                  </table>
            </div>
        </div>
    </div>
</div>
{% endblock %}